<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>QA Exercise - Accounts Application</h2>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Account List</h2>
          <p><a class="btn btn-default" href="#/accounts" role="button">Click Me! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; inspired by Das Boot Application</p>
      </footer>
    </div> <!-- /container -->
